name: Build and Deploy

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.txt'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: install sphinx-build
        run: |
          pip3 install -U sphinx sphinx_copybutton

      - name: build static pages
        run: |
          make html SPHINXOPTS="-W --keep-going -n"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          DEPLOY_HOOK_URL: ${{ secrets.DEPLOY_HOOK_URL }}
        run: |
          curl -sS --no-progress-memter "${DEPLOY_HOOK_URL}"
